@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;

    background: linear-gradient(#074f5f,#0094B2,#19ADCB,#32C6E4);
    /*background: linear-gradient(#32C6E4,#0094B2,#19ADCB,#074f5f);*/
    
}

.main-container{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 30% 20% 20% 20% 10%;
}

header{
    grid-column-start: 1;
    grid-column-end: 6;

    grid-row-start: 1;
    grid-row-end: 2;
    /*background-color: azure;*/
}

.header-container{
    display: grid;
    grid-template-columns: 33% 1fr 20%;
    grid-template-rows: 100%;
}

.logo-container{
    padding: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
}

.nova-conta-container{
    grid-column-start: 3;
    grid-column-end: 4;
}

.nova-conta-container .nova-conta-item{
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 5px;
}

.nova-conta-container .nova-conta-item h3{
    text-align: center;
    font-size: 1.2em;
    color:white;
}

.nova-conta-container .nova-conta-item button{
    
    background: linear-gradient(to right,#9c851f, #FFD820, #FFF139);
    color:#0094B2;
    font-size: 1.2em;
    width: 180px;
    height: 30px;
}

.nova-conta-container .nova-conta-item button:hover{
    background: linear-gradient(to right,#FFF139, #FFD820, #9c851f);
    color: white;
}

main{
    grid-column-start: 1;
    grid-column-end: 6;

    grid-row-start: 2;
    grid-row-end: 5;

}

.login-container{

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 40%;
    height: 100%;
}



.login-form{
    
    background: linear-gradient(to right,#9c851f, #FFD820, #FFF139);
}

.login-form h1{
    color: #074f5f;
    font-size: 2.5em;
    text-align: center;
}

.login-form:hover{
    background: linear-gradient(to right,#FFF139, #FFD820, #9c851f);
}

.login-form-component{
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.login-form-component img{
    width: 10%;
}

.login-form-component .login-textbox{
    width: 75%;
    background-color: #074f5f;
    font-size: 1.5em;
    color: white;
    margin: 0 auto;
}


.login-form-component .login-label{
    color:#074f5f;
    font-size: 1.5em;
}

.login-form-component .login-checkbox{
    justify-content: flex-end;
}

.login-form-component button{
    width: 95%;
    height: 50px;
    background-color: #074f5f;
    
    font-size: 1.5em;
    color: white;
}

footer{
    grid-column-start: 1;
    grid-column-end: 6;

    grid-row-start: 5;
    grid-row-end: 6;

    /*background-color: burlywood;*/
}